/* *,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
dl,
dt,
dd {
  list-style: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
 */

:root {
  --basic-black: #000000;
  --basic-red: #fb565a;
  --basic-red-hover: #e74246;
  --basic-red-active: #d7373b;
  --basic-green: #00ca74;
  --basic-yellow: #efc849;
  --basic-white: #ffffff;
  --btn-green: #00ca74;
  --btn-green-hover: #00bc6c;
  --btn-green-active: #00aa62;
  --btn-yellow: #efc849;
  --btn-yellow-hover: #eab534;
  --btn-yellow-active: #e5a722;
  --light-gray: rgba(255, 255, 255, 0.3);
  --background-gray: #eeeeee;
  --basic-gray2: #dfdfdf;
  --basic-gray3: #d5d5d5;
  --gray-active: rgba(0, 0, 0, 0.3);
  --gray-hover: rgba(0, 0, 0, 0.6);
  --btn-gray-shadow: rgba(0, 1, 1, 0.1);
  --border-gray-btn: #dbdbdb;
  --products-text: #666666;
  --products-description-gray: #4d4d4d;
  --social-gray: #e1e1e1;
  --form-checkbox: #e3e3e3;
  --range-gray: #d7dcdf;
  --range-green: #00ca74;
  --toggle-gray: #ababab;
  --toggle-shadow: #cfcfcf;
  --price-controls-color: #283136;
  --slider-button: #c4c4c4;
  --modal-input: #d7dcde;
  --modal-input-hover: #b4b9bb;
  --close-button: #feccce;
  --close-button-active: #ffeeef;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Robotomedium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Robotobold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

.page {
  box-sizing: border-box;
  height: 100%;
}

.button {
  display: flex;
  height: 50px;
  width: 240px;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 58px;
  color: var(--basic-white);
  text-transform: uppercase;
  /* text-align: center; */
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.polosa {
  height: 2px;
  width: 1158px;
  background: #eeeeee;
}

.page-body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* height: 100%; */

  min-width: 1440px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.header {
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 0;
}

.nav__wrapper {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  align-items: center;
}

.header__logo-link {
  display: block;
  width: 160px;
  background-color: #eeeeee;
}

.header__logo-img {
  width: 100%;
  height: auto;
  display: block;
}

.header__nav {
  list-style: none;
  margin: 0;
  padding-top: 10px;
  padding-left: 202px;
  display: flex;
  flex-wrap: wrap;
  /* align-self: center; */

  /* width: 447px; */
  /* margin-left: 202px; */
  /* margin-right: auto; */
  /* list-style-type: none; */
  /* margin: 0 auto; */
}

.header__nav-item {
  margin-right: 45px;
}

/* .header__nav-item-last {
  margin-right: 0px;
} */

.header__nav-link {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  padding-bottom: 13px;
  /* display: block; */
  /* padding-bottom: 13px;
  padding-top: 15px; */
}

.header__nav-link--current {
  border-bottom: 2px solid var(--basic-red);
}

.header__nav-link:hover {
  color: #e74246;
}

.header__nav-link:active {
  color: #000;
  opacity: 0.3;
}

.header__bascket-link {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  /* padding-left: 10px; */
  display: flex;
  text-decoration: none;
  padding-top: 10px;
}

.header__bascket-link::before {
  align-self: center;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background: url("../img/header/bascket.svg") no-repeat 0 0;
  margin-right: 10px;
}

.header__bascket-link:hover {
  color: #fb565a;
}

.header__bascket-link:active {
  color: #000;
  opacity: 0.3;
}

.main__h1 {
}

.presentation {
  margin-bottom: 80px;
  background-color: var(--background-gray);
  position: relative;
}
.presentation__h2 {
}
.presentation__container {
}
.container {
}
.presentation__control-btn {
}
.presentation__radio {
}
.presentation__banner {
  display: grid;
  grid-template-columns: 36% 64%;
  position: relative;
}

.presentation__left-block {
}
.presentation__slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-top: 78px;
  margin-bottom: 25px;
  /* white-space: nowrap; */
  position: absolute;
}
.presentation__text {
  margin-top: 250px;
  margin-bottom: 38px;
}
.presentation__button {
  margin-bottom: 80px;
}
.presentation__button:hover {
  background-color: var(--basic-red-hover);
}

.presentation__button:active {
  background: #d7373b;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.presentation__right-block {
  background-color: #eeeeee;
}
.presentation__img {
  width: 100%;
  height: auto;
  display: block;
}

.button {
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 720px;
  display: flex;
  flex-wrap: wrap;
  /* width: 88px; */
  justify-content: space-between;

  /* top: 54px;
  left: 140px;
  z-index: 2; */
}

.btn-slide {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin-right: 17px;
}

.current::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 2px;
  height: 2px;
  background-color: transparent;
  border: 3px solid var(--slider-button);
  border-radius: 50%;
}

.btn-slide-1 {
}
.current {
}
.btn-slide-2 {
}
.btn-slide-3 {
}

.servis {
  margin-bottom: 80px;
}
.servis__h2 {
}
.servis__container {
}
.cotainer {
}
.servis__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}
.servis__list-item {
}
.servis__img {
  width: 100%;
  height: auto;
  display: block;
}

.servis__wrapper-img {
  width: 300px;
}

.servis__h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  text-transform: uppercase;
}
.servis__text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--color-black1);
}
.servis__button {
  width: 160px;
  height: 50px;
}
.servis__button--site:hover {
  background: #e74246;
}
.servis__button--site:active {
  background: #d7373b;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button {
}
.servis__button--app {
  background-color: #00ca74;
}
.servis__button--app:hover {
  background-color: #00bc6c;
}
.servis__button--app:active {
  background: #00aa62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.servis__button--pres {
  background: #efc849;
}

.servis__button--pres:hover {
  background: #eab534;
}

.servis__button--pres:active {
  background: #e5a722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.about {
  margin-bottom: 73px;
}
.about__container {
}
.container {
}

.about__polosa {
  margin-bottom: 39px;
}
.about__polosa--clients {
  margin-bottom: 40px;
}

.about__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.about__left-block {
}

.about__h2 {
  display: none;
}
.about__slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
}
.about__text {
  margin-bottom: 40px;
}

.about__subtitle {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.about__list {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__list-item {
  display: flex;
}

.about__list-item::before {
  align-self: center;
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background: url("../img/about/line.svg") no-repeat 0 0;
  margin-right: 10px;
}

.about__list-line {
}

.about__right-block {
}
.about__img {
  margin-bottom: 20px;
}
.about__subtitle-dl {
  font-weight: 700;
  text-transform: uppercase;
}
.about__descr-value {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: start;
  margin: 0;
}
.about__value {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  margin: 0;
}
.about__descr {
  line-height: 18px;
  margin: 0;
}
.about__desc-one {
  grid-column-start: 1;
  grid-row-start: 2;
}

.about__desc-two {
  grid-column-start: 2;
  grid-row-start: 2;
}

.clients {
  margin-bottom: 44px;
}
.clients__container {
}
.container {
}

.clients__polosa {
  margin-bottom: 46px;
}
.clients__h2 {
}
.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  list-style: none;
}
.clients__item {
}
.clients__link {
}
.clients__logo {
  opacity: 0.2;
}
.clients__logo:hover {
  opacity: 1;
}

.clients__logo:active {
  opacity: 0.1;
}

.clients {
}
.clients__container {
}
.container {
}
.clients__h2 {
}
.clients__list {
  display: flex;
  justify-content: space-between;
}
.clients__item {
}
.clients__link {
}
.clients__logo {
  opacity: 0.2;
}
.clients__logo:hover {
  opacity: 1;
}

.clients__logo:active {
  opacity: 0.1;
}
.footer__map {
  /* background-color: $color-yelow0;
  } */
  position: relative;
  /* display: none; */
  padding-bottom: 68px;
}

.footer__polosa {
  margin-bottom: 80px;
}

.footer__map-h2 {
}
.footer__map-link {
  position: relative;
}
.footer__map-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__mark-link {
  position: absolute;
}
.footer__mark-img {
}

.footer__contacts {
  background: var(--basic-white);
  width: 319px;
  min-height: 308px;
  box-sizing: border-box;
  padding: 49px 50px 47px 50px;
  position: absolute;
  top: 54px;
  left: 140px;
  z-index: 2;
}
.footer__contacts-h2 {
}
.footer__contacts-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 23px;
  /* color: $color-black1; */
}
.footer__contacts-adress {
  font-size: 16px;
  line-height: 18px;
  /* color: $color-black1; */
  margin-bottom: 37px;
  color: #666666;
}
.footer__contacts-tel {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;

  color: #666666;

  /* color: $color-black1; */
}
.footer__contacts-button {
  height: 58px;
  width: 219px;
}
.button {
}

.footer__socials {
  margin-bottom: 68px;
}
.footer__socials-container {
}
.footer__cocials-h2 {
}

.footer__socials-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 139px;
}
.footer__socials-item {
}
.footer__socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1);
  /* background-image: url(); */
  border-radius: 50%;
}

.footer__socials-link:hover {
  background: linear-gradient(0deg, #e74246, #e74246), #ffffff;
}
.footer__socials-link:active {
  background: linear-gradient(0deg, #d7373b, #d7373b), #ffffff;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.footer__socials-link:active > .socials-svg {
  fill-opacity: 0.3;
}

.footer__cocials-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
  border-radius: 50%;
}

.footer__cocials-cover:hover {
  /* background: $color-red2; */
}

.footer__cocials-cover:active {
  /* background: $color-red3; */
}

.footer__socials-img {
}

.footer__slogan-text {
  padding-top: 9px;
}
.footer__socials-slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
  /* color: $color-black1; */
}
.footer__socials-text {
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;

  /* color: $color-black1; */
}

.feedback {
  margin: 0 auto;
  width: 760px;
  padding: 63px 100px 84px 100px;

  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  background-color: var(--basic-white);
  position: relative;

  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */

  /* max-width: 960px;
  max-height: 590px; */

  /* position: fixed; */

  /* display: none; */
}
.feedback__h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  padding-bottom: 37px;
}

.feedback__form {
  display: grid;
  grid-template-areas:
    "name mail"
    "name-input mail-input"
    "letter letter"
    "letter-input letter-input"
    "button button";
  column-gap: 40px;
}
.feedback__label {
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 9px;
}

.feedback__in-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* color: $color-black1; */
  mix-blend-mode: normal;
  opacity: 0.5;
}

.feedback__name {
  grid-area: name;
}
.feedback__mail {
  grid-area: mail;
}
.feedback__name-input {
  grid-area: name-input;
  display: block;
  box-sizing: border-box;
  width: 360px;
  border: 2px solid var(--modal-input);
  border-radius: 3px;
  padding: 14px;
  color: #444444;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.feedback__name-input:hover {
  border: 2px solid #b4b9bb;
}
.feedback__name-input:focus {
  border: 2px solid #000000;
}

.feedback__mail-input {
  grid-area: mail-input;
  display: block;
  width: 328px;
  border: 2px solid var(--modal-input);
  border-radius: 3px;
  padding: 14px;
  color: #444444;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.feedback__mail-input:hover {
  border: 2px solid #b4b9bb;
}
.feedback__mail-input:focus {
  border: 2px solid #000000;
}

.feedback__letter {
  grid-area: letter;
  padding-top: 34px;
}
.feedback__letter-textarea {
  grid-area: letter-input;
  padding: 16px;
  width: 760px;
  box-sizing: border-box;
  margin-bottom: 47px;
  margin-top: 9px;
  resize: none;
  height: 118px;

  border: 2px solid #d7dcde;
  border-radius: 3px;
  color: #444444;

  opacity: 0.5;
}

.feedback__letter-textarea:hover {
  border: 2px solid #b4b9bb;
}
.feedback__letter-textarea:focus {
  border: 2px solid #000000;
}

.feedback__button {
  grid-area: button;

  border: none;
  color: var(--basic-white);
  text-transform: uppercase;
  padding-left: 83px;
  padding-right: 83px;
  cursor: pointer;

  background-color: var(--basic-red);
  color: var(--basic-white);
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 3px;
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  width: 259px;
  min-height: 50px;
}

.close {
  position: relative;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 110px;
  top: 85px;
  cursor: pointer;
}

.close::before,
.close::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: var(--close-button);
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.close:hover::after,
.close:hover::before {
  background-color: var(--basic-red);
}

.close:active::after,
.close:active::before {
  background-color: var(--close-button-active);
}

/* .feedback__form-close {
  position: absolute;
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;

  cursor: pointer;
  text-transform: none;
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  right: 90px;
  top: 78px;
} */

/* .feedback__form-close:hover > .feedback__close-svg {
  fill-opacity: 0.9;
} */
/* .feedback__form-close:hover > .feedback__close-svg {
  fill-opacity: 0.9; 
} */

/* feedback__close-svg:hover {
  fill-opacity: 0.9;
} */

/* .footer__socials-link:active > .socials-svg {
  fill-opacity: 0.3;
} */

/* .feedback__close-svg:hover {
  fill-opacity: 1;
}

.feedback__form-close:hover > .feedback__close-svg {
  fill-opacity: 1;
}

.feedback__form-close:active > .feedback__close-svg {
  fill-opacity: 0.1;
} */

feedback__close-svg .main-catalog {
}
.main-catalog__fon {
  /* background-color: $color-gray1; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-catalog__h1 {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0px 0px;

  /* color: $color-black1; */
  padding-top: 70px;
  padding-bottom: 108px;
  margin-bottom: 55px;
}

.main-catalog__wrapper {
  display: grid;
  grid-template-columns: 1fr 760px;
  /* column-gap: 40px; */
}

.filter__container {
}
.container {
}

.filter {
}
.filter__container {
}
.container {
}
.filter__h2 {
}
.filter__form {
}

.filter__item {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 54px;
}
.filter__range {
  width: 260px;
  margin-top: 49px;
}

.filter__catalog-subtitle {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.catalog-subtitle {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.filter__range-controls {
  height: 80px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  height: 41px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}
.filter__scale {
  height: 2px;
  background: #d7dcde;
}
.filter__bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.filter__toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  position: absolute;
  top: 31px;
  left: 0;
  cursor: pointer;
}
.filter__toggle-min {
  left: 18px;
}
.filter__toggle-max {
  left: 160px;
}
.filter__price-controls {
  display: flex;
  justify-content: space-between;
}
.filter__min-price {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}
.filter__min-price-input {
  font-family: inherit;
  font-size: inherit;
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.filter__max-price {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}
.filter__max-price-input {
  font-family: inherit;
  font-size: inherit;
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

/*  */
.filter__grid {
}
.filter__grid-subtitle {
  margin-bottom: 16px;
}
.filter__wrapper-radio {
  display: flex;
  flex-direction: column;
  margin-bottom: 47px;
  gap: 20px;
}
.filter__grid-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.filter__grid-text::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  /* background-color: gray; */
  margin-right: 15px;
  border-radius: 50%;
  border: 5px solid #4d4d4d;
  box-sizing: border-box;
  opacity: 0.4;
}

.filter__grid-radio-item:checked + .filter__grid-text::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--products-description-gray);
  border-radius: 50%;
  opacity: 0.4;
}
.filter__grid-radio-item:hover + .filter__grid-text::before {
  opacity: 1;
}
.filter__grid-radio-item:checked:hover + .filter__grid-text::after {
  opacity: 1;
}

.filter__grid-radio-item:focus + .filter__grid-text::before {
  opacity: 1;
}
.filter__grid-radio-item:checked:focus + .filter__grid-text::after {
  opacity: 1;
}

.filter__grid-radio-item:disabled + .filter__grid-text::before {
  opacity: 0.2;
}
.filter__grid-radio-item:checked:disabled + .filter__grid-text::after {
  opacity: 0.2;
}
.filter__grid-radio-item:disabled + .filter__grid-text {
  opacity: 0.2;
}
.filter__grid-radio-item:checked:disabled + .filter__grid-text {
  opacity: 0.2;
}
/* .filter__grid-text:hover .filter__grid-text::before {
} */

.filter__grid-radio-item {
  margin: 0;
  padding: 0;
}
.filter__checkbox {
}
.filter__checkbox-subtitle {
  margin-bottom: 16px;
}
.filter__checkbox-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.filter__wrapper-check {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}
.filter__checkbox-item {
}

.filter__checkbox-text::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  border: 3px solid #4d4d4d;
  border-radius: 3px;
  box-sizing: border-box;
  margin-right: 15px;
  opacity: 0.4;
}
.filter__checkbox-text::before {
}

.filter__checkbox-item:checked + .filter__checkbox-text::after {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  /* border: 3px solid #4d4d4d; */
  /* border-radius: ; */
  box-sizing: border-box;
  /* margin-right: 15px; */
  position: absolute;
  background: url(../img/goods/chek-mark.svg) no-repeat;
  left: 5px;
  opacity: 0.4;
}
.filter__checkbox-item:hover + .filter__checkbox-text::before {
  opacity: 1;
}
.filter__checkbox-item:hover + .filter__checkbox-text::after {
  opacity: 1;
}
.filter__checkbox-item:focus + .filter__checkbox-text::before {
  opacity: 1;
}
.filter__checkbox-item:focus + .filter__checkbox-text::after {
  opacity: 1;
}

.filter__checkbox-item:disabled + .filter__checkbox-text::before {
  opacity: 0.2;
}
.filter__checkbox-item:disabled + .filter__checkbox-text::after {
  opacity: 0.2;
}
.filter__checkbox-item:disabled + .filter__checkbox-text {
  opacity: 0.2;
}

.filter__button {
  border: none;
  height: 50px;
  width: 260px;
  border-radius: 3px;
  background: #eeeeee;
  border-radius: 3px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}
.filter__button:hover {
  background: #dfdfdf;
}
.filter__button:active {
  background: #d5d5d5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}
.goods {
  margin-bottom: 60px;
}
.goods__h2 {
}
.goods__sort {
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;
}
.sort-subtitle {
}
.filter-goods__subtitle {
}
.goods__sort-list {
  display: flex;
  width: 360px;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.goods__sort-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.goods__sort-link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  border: none;
}

.goods__sort-link:hover {
  opacity: 0.6;
}

.goods__sort-link:hover {
  opacity: 0.6;
}

.goods__sort-link:active {
  opacity: 1;
}
.goods__sort-link:focus {
  opacity: 1;
}

.goods__sort-button-arrow-dn {
  /* top: -2px;*/
  display: block;
  width: 11px;
  height: 10px;
  background: url(../img/goods/arrow-to-down.svg) no-repeat 0 0;
  border: none;

  opacity: 0.2;
  cursor: pointer;
}

.goods__sort-button-arrow-up {
  display: block;
  width: 11px;
  height: 10px;
  background: url(../img/goods/arrow-to-up.svg) no-repeat 0 0;
  border: none;

  opacity: 0.2;
  cursor: pointer;
}
.goods__sort-button:hover {
  opacity: 0.6;
}
.goods__sort-button:active {
  opacity: 1;
}
.goods__arrow-img {
}

.goods__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 40px;
  padding-bottom: 55px;
}
.goods__goods-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods__item-header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--products-description-gray);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-top: 13px;
  padding-bottom: 13px;
  opacity: 0.12;
  padding-left: 16px;
}
.goods__header-mark {
  width: 14px;
  height: 14px;
  background-color: var(--basic-white);
  border-radius: 50%;
  margin-right: 9px;
}
.goods__link {
}
.goods__img {
  display: block;
  width: 100%;
  height: auto;
}
.goods__img::before {
  content: "";
  display: block;
  width: 360px;
  height: 40px;
  box-sizing: border-box;
  background-color: #4d4d4d;

  /* align-items: center;
  
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-top: 13px;
  padding-bottom: 13px;
  opacity: 0.12;
  padding-left: 16px; */
}

.goods__item-info {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 80px 44px;
  display: none;
}
.goods__item-info-title {
  margin-bottom: 12px;
}
.goods__item-info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* color: $color-black1; */
  margin-bottom: 32px;
  text-align: center;
}
.goods__item-button {
}
.goods__pugination {
  display: flex;
  /* width: 758px; */
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 11px;
}
.goods__pages {
}
.goods__pages-link {
  display: block;
  background-color: var(--background-gray);
  width: 50px;
  height: 50px;
  color: var(--basic-black);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
}
.goods__pages-link-last {
  width: 260px;
}

.goods__pages--activ {
  background-color: var(--basic-white);
  border: 3px solid var(--btn-gray-shadow);

  line-height: 47px;
}
